<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>

<h2>Employee List</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Status</th>
        <th>Department</th>
    </tr>

    <tr th:each="emp : ${employees}">
        <td th:text="${emp.name}"></td>
        <td th:text="${emp.age}"></td>
        <td th:text="${emp.status}"></td>
        <td th:text="${emp.department.name}"></td>
    </tr>

</table>

</body>
</html>